
img{
	max-width: 150px;
}
.quitar-float{
	float: none;
}
.borde{
	margin-left: 0.5%;
    border: 1px solid;
    width: 50%;
}
.borde2{
	margin-left: 0.5%;
    border: 1px solid;
}
.espacio-arriba{
	margin-top: 100px;
}
.Combo{
	font-family: 'Combo', cursive;
}
.Grande{
	font-size: 4em;
}
.azul{
color: #0E5061
}
.rojo{
	color:#A30F00;
}
.espacio{
	margin-right: 1em;
}
.no-lista li{
list-style-type: none;
padding: 0px;
}
.ve-arriba{
	vertical-align: top;
}
.retraso{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	moz-animation-delay:1s;
}
.retra{
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	moz-animation-delay:2s;
}
.mediano{
	font-size: 1.5em;
}
.se-gris{
	background-color: #eee;
}
.padding-largo{
	padding: 10px 10px;
}
.inline-block{
	float:none;
	display: inline-block;
	margin-right: -4px;
}